/*
<uniquifier>: Use a unique and descriptive class name
<weight>: Use a value from 100 to 900
*/

.raleway-default, h2, h3, p, a{
    font-family: "Raleway", system-ui;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

h1 {
    font-family: "Raleway", system-ui;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: #2e3944;
}
.raleway-menu {
    font-family: "Raleway", system-ui;
    font-optical-sizing: auto;
    font-weight: 650;
    font-style: normal;
}

/* Paragraph styling */
.blog-p {
    font-size: 18px;
    text-align: justify;
    margin-bottom: 20px;
    line-height: 1.8;
    color: #555;
}